body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

img {
  max-width: 500px;
  max-height: 500px;
  margin: 20px 0;
  border-radius: 8px;
}

.button-container{
  display: flex;
  gap: 10px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #373d42; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}